# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

#Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
hmprojectskeleton/Pods/Manifest.lock
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFAutoPurgingImageCache.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFHTTPSessionManager.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFImageDownloader.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFNetworkActivityIndicatorManager.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFNetworkReachabilityManager.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFSecurityPolicy.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFURLRequestSerialization.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFURLResponseSerialization.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/AFURLSessionManager.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIActivityIndicatorView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIButton+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIImage+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIImageView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIKit+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIProgressView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIRefreshControl+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/AFNetworking/UIWebView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Private/FLAnimatedImage/FLAnimatedImage.h
hmprojectskeleton/Pods/Headers/Private/FLAnimatedImage/FLAnimatedImageView.h
hmprojectskeleton/Pods/Headers/Private/Flurry-iOS-SDK/Flurry.h
hmprojectskeleton/Pods/Headers/Private/FMDB/FMDatabase.h
hmprojectskeleton/Pods/Headers/Private/FMDB/FMDatabaseAdditions.h
hmprojectskeleton/Pods/Headers/Private/FMDB/FMDatabasePool.h
hmprojectskeleton/Pods/Headers/Private/FMDB/FMDatabaseQueue.h
hmprojectskeleton/Pods/Headers/Private/FMDB/FMDB.h
hmprojectskeleton/Pods/Headers/Private/FMDB/FMResultSet.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/CGRectUtilities.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMConstants.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMError.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMErrorManager.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMFoundation.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMGeometry.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMLogger.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMResult.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMSafeCompare.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMServerOperation.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMUI.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/HLMUIConstants.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSArray+Contains.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSArray+Conversion.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSArray+ValidObjects.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSData+Conversion.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSDate+Compare.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSDate+Construct.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSDate+ConvenienceMethods.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSDictionary+Conversion.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSDictionary+SortedKeys.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSDictionary+ValidObjects.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSError+SessionHandling.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSInvocation+MultipleArguments.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSMutableArray+ValidObjects.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSMutableDictionary+ValidObjects.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSObject+BlockAdditions.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSObject+ConvenienceMethods.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSObject+SelectorResponding.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+Bool.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+Contains.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+ConvenienceMethods.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+MD5.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+Regex.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+Size.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+Trim.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+URLEncoding.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSString+Validation.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/NSURL+Scheme.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIApplication+Info.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIApplication+OpenURL.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UICollectionView+IndexPathValidation.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIColor+HEX.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIDevice+Model.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIDevice+System.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIImage+Color.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIImage+DeviceSpecificImages.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIImageView+Scale.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UILabel+ConstrainedSize.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIScreen+Resolution.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIScrollView+Paging.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UITableView+IndexPathValidation.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIView+AutoLayout.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIView+Frame.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIView+Snapshot.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIViewController+Visibility.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIWebView+Clean.h
hmprojectskeleton/Pods/Headers/Private/HLMFoundation/UIWebView+Scrolling.h
hmprojectskeleton/Pods/Headers/Private/PINCache/Nullability.h
hmprojectskeleton/Pods/Headers/Private/PINCache/PINCache.h
hmprojectskeleton/Pods/Headers/Private/PINCache/PINCacheObjectSubscripting.h
hmprojectskeleton/Pods/Headers/Private/PINCache/PINDiskCache.h
hmprojectskeleton/Pods/Headers/Private/PINCache/PINMemoryCache.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/FLAnimatedImageView+PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/NSData+ImageDetectors.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINButton+PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINDataTaskOperation.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINImage+DecodedImage.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINImage+WebP.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINImageView+PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINProgressiveImage.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageCallbacks.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageCategoryManager.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageDownloadTask.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageMacros.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageManager.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageManagerResult.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageProcessorTask.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteImageTask.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINRemoteLock.h
hmprojectskeleton/Pods/Headers/Private/PINRemoteImage/PINURLSessionManager.h
hmprojectskeleton/Pods/Headers/Private/RESideMenu/RECommonFunctions.h
hmprojectskeleton/Pods/Headers/Private/RESideMenu/RESideMenu.h
hmprojectskeleton/Pods/Headers/Private/RESideMenu/UIViewController+RESideMenu.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFAutoPurgingImageCache.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFHTTPSessionManager.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFImageDownloader.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFNetworkActivityIndicatorManager.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFNetworkReachabilityManager.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFSecurityPolicy.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFURLRequestSerialization.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFURLResponseSerialization.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/AFURLSessionManager.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIActivityIndicatorView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIButton+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIImage+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIImageView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIKit+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIProgressView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIRefreshControl+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/AFNetworking/UIWebView+AFNetworking.h
hmprojectskeleton/Pods/Headers/Public/Crashlytics/Crashlytics/ANSCompatibility.h
hmprojectskeleton/Pods/Headers/Public/Crashlytics/Crashlytics/Answers.h
hmprojectskeleton/Pods/Headers/Public/Crashlytics/Crashlytics/CLSAttributes.h
hmprojectskeleton/Pods/Headers/Public/Crashlytics/Crashlytics/CLSLogging.h
hmprojectskeleton/Pods/Headers/Public/Crashlytics/Crashlytics/CLSReport.h
hmprojectskeleton/Pods/Headers/Public/Crashlytics/Crashlytics/CLSStackFrame.h
hmprojectskeleton/Pods/Headers/Public/Crashlytics/Crashlytics/Crashlytics.h
hmprojectskeleton/Pods/Headers/Public/Fabric/Fabric/FABAttributes.h
hmprojectskeleton/Pods/Headers/Public/Fabric/Fabric/Fabric.h
hmprojectskeleton/Pods/Headers/Public/FLAnimatedImage/FLAnimatedImage.h
hmprojectskeleton/Pods/Headers/Public/FLAnimatedImage/FLAnimatedImageView.h
hmprojectskeleton/Pods/Headers/Public/Flurry-iOS-SDK/Flurry.h
hmprojectskeleton/Pods/Headers/Public/FMDB/FMDatabase.h
hmprojectskeleton/Pods/Headers/Public/FMDB/FMDatabaseAdditions.h
hmprojectskeleton/Pods/Headers/Public/FMDB/FMDatabasePool.h
hmprojectskeleton/Pods/Headers/Public/FMDB/FMDatabaseQueue.h
hmprojectskeleton/Pods/Headers/Public/FMDB/FMDB.h
hmprojectskeleton/Pods/Headers/Public/FMDB/FMResultSet.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/CGRectUtilities.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMConstants.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMError.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMErrorManager.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMFoundation.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMGeometry.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMLogger.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMResult.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMSafeCompare.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMServerOperation.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMUI.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/HLMUIConstants.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSArray+Contains.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSArray+Conversion.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSArray+ValidObjects.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSData+Conversion.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSDate+Compare.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSDate+Construct.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSDate+ConvenienceMethods.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSDictionary+Conversion.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSDictionary+SortedKeys.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSDictionary+ValidObjects.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSError+SessionHandling.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSInvocation+MultipleArguments.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSMutableArray+ValidObjects.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSMutableDictionary+ValidObjects.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSObject+BlockAdditions.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSObject+ConvenienceMethods.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSObject+SelectorResponding.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+Bool.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+Contains.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+ConvenienceMethods.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+MD5.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+Regex.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+Size.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+Trim.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+URLEncoding.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSString+Validation.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/NSURL+Scheme.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIApplication+Info.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIApplication+OpenURL.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UICollectionView+IndexPathValidation.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIColor+HEX.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIDevice+Model.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIDevice+System.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIImage+Color.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIImage+DeviceSpecificImages.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIImageView+Scale.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UILabel+ConstrainedSize.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIScreen+Resolution.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIScrollView+Paging.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UITableView+IndexPathValidation.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIView+AutoLayout.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIView+Frame.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIView+Snapshot.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIViewController+Visibility.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIWebView+Clean.h
hmprojectskeleton/Pods/Headers/Public/HLMFoundation/UIWebView+Scrolling.h
hmprojectskeleton/Pods/Headers/Public/PINCache/Nullability.h
hmprojectskeleton/Pods/Headers/Public/PINCache/PINCache.h
hmprojectskeleton/Pods/Headers/Public/PINCache/PINCacheObjectSubscripting.h
hmprojectskeleton/Pods/Headers/Public/PINCache/PINDiskCache.h
hmprojectskeleton/Pods/Headers/Public/PINCache/PINMemoryCache.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/FLAnimatedImageView+PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/NSData+ImageDetectors.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINButton+PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINDataTaskOperation.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINImage+DecodedImage.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINImage+WebP.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINImageView+PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINProgressiveImage.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImage.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageCallbacks.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageCategoryManager.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageDownloadTask.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageMacros.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageManager.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageManagerResult.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageProcessorTask.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteImageTask.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINRemoteLock.h
hmprojectskeleton/Pods/Headers/Public/PINRemoteImage/PINURLSessionManager.h
hmprojectskeleton/Pods/Headers/Public/RESideMenu/RECommonFunctions.h
hmprojectskeleton/Pods/Headers/Public/RESideMenu/RESideMenu.h
hmprojectskeleton/Pods/Headers/Public/RESideMenu/UIViewController+RESideMenu.h
